


.ListCities{
    background-color: hsl(0, 0%, 100%, 75%);
    border-radius: 15px;
    width: 80vw;
    align-items: center;
    justify-content: center;
    
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
}

.ListCities--Search{
    display: flex;
    align-items: center;
}

.ListCities--search--input{
    width: 60vw;
    height: 2.5em;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    padding: 0.5em;
    border: 0 rgba(0,0,0,.2);
    color: #333;
}

.ListCities--search--button{
    border: none;
    height: 2.5em;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}

.ListCities--table{
    margin-top: 1em;
    background-color:hsl(0, 0%, 100%, 45%) ;
    border-radius: 15px;
    border-collapse: collapse;
  
}

.ListCities--table--head{
    margin-top: 2em;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    background-color: #31255a;
    color: white;
    border-radius: 15px;
 
}

.ListCities--table--head thead{
    border-radius: 15px;
}

.ListCities--table th, .ListCities--table td{
    padding: 0.5em;
    margin: 0;
    border: none;
    
}

.ListCities--table tbody tr:nth-child(even) {background-color: #8fe0ff; border: 0;}

.ListCities--table tbody tr:nth-child(odd) {background-color: #75b4e3; border: 0;}

.ListCities--table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ListCities--table tbody tr:hover{
    transform: scale(1.05);
    box-shadow: 2px rgb(0 0 0 / 20%);
    z-index: 100;
    overflow: visible !important;
}

.ListCities--table:hover {
    overflow: visible !important;
}