.Navbar{
    position: relative;
    background-color: var(--clr-blue);

    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 25px 5px;
    padding: 1em;
    width: 100vw;
}

.Navbar--title{
  color: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.Navbar--logo{
   
    margin-top: 0.2em;
    margin-right: 0.1em;    
}

.Navbar--logoContainer{
    display: flex;
    gap: 0;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
}

.Navbar--logoContainer:hover{
    color: white;
}